<layout name="layout" />
<div class="wrap1">
<h1>研究方向</h1>
<div class="block1">
	<div class="box1 grid1">
		<h3>我们的成果</h3>
		<img src="__ROOT__/Public/images/block2-im1.jpg" title="img1" />
		<h4>花卉识别</h4>
		<p>敬请期待。。 </p>
		
		</div>
	<div class="box1 grid1">
		<h3>我们的发展</h3>
		<img src="__ROOT__/Public/images/block2-img2.jpg" title="img1" />
		<h4>未来应用</h4>
		<p>敬请期待。。</p>
		
	</div>
	<div class="box1 grid1">
		<h3>我们的技术</h3>
		<img src="__ROOT__/Public/images/block2-im3.jpg" title="img1" />
		<h4>人工智能</h4>
		<p>敬请期待 </p>
		
	</div>
<div class="clear"> </div>	
</div>
</div>
