<link href="./css/style.css" rel="stylesheet" type="text/css"  media="all" />
<div class="wrap">
    <div class="title">
         <h1>新闻动态</h1>
         <div class="title-left">
		 {section name=news_id loop=$news}
		 
		     <li><p><img src="./images/icon2.png"/>{$news[news_id].date}&nbsp;<a href="index.php?page_type=article&title_number={$smarty.section.news_id.index}">{$news[news_id].title}</a></p></li>
			{/section}
         </div>
		 <div class="title-right">
		 <li><p>{$news[$number].body}</p></li>
		 </div>
    </div>
</div>
<div class="clear">
</div>